#CU-total{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #F16565;
    height: 100vh;
}

#CU-center-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;   
    width: 70vh;
    background-color: #D9D9D9;
    border-radius: 25px;
}

#CU-username{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    text-align: center;
    width: 275px;
    height: 30px;
    border-radius: 25px;
}

::placeholder {
    /* /* font-style: italic;
    font-size: 1em;
    color: mintcream;
    background: thistle; */
    font-weight: bolder;
    text-align: center;
    font-size: 20px;
}

input[type="text"]
{
    font-weight: bolder;
    color: #9F9E9E;
    font-size: 17px;
    color: black;
    text-align: center;
}

input:focus {
    outline: none;  
}

#CU-btn{
    border-radius: 15px;
    border: none;
    padding: 10px 32px;
}

